* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color1: #07beb8;
    --color2: #3dccc7;
    --color3: #68d8d6;
    --color4: #9ceaef;
    --color5: #c4fff9;

}

/* sliders */



.home-section {
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;


}

.container-content {
    background-color: white;
    margin: auto;
    width: 60%;
    padding: 20PX;
    /* border: solid 1px black; */
    border-radius: 10px;
    box-shadow: 6px 6px 60px -6px rgba(159, 110, 165, 0.75);
    -webkit-box-shadow: 6px 6px 60px -6px rgba(159, 110, 165, 0.75);
    -moz-box-shadow: 6px 6px 60px -6px rgba(159, 110, 165, 0.75);
}

.home-content {
    display: flex;
    align-items: center;

}

.content-txt {
    /* width: 50%;
    margin-right: 60px; */
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    gap: 2rem;
    text-align: center;
    flex-direction: column;
   

}

.content-img {
    width: 50%;
    animation: updown 5s infinite;
}

img {
    height: 480px;
    width: 420px;
    animation: updown 5s infinite;
}

.content-txt h1 {
    /* padding-block: 20px;
    color: #430A5D;
    font-family: "Great Vibes", cursive;
    font-weight: 500;
    font-size: 65px; */
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
    color: #07beb8;

}

.content-txt p {
    /* font-family: "Playfair Display", serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 40px; */
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.content-txt .btn3 {
    background-color: var(--color1);
    padding: 8px 10px;
    color: white;
    border-radius: 10px;
    border: var(--color1);
    font-family: "Playfair Display", serif;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    width: 200px;
    position: absolute;
    bottom: 140px;
    left: 30%;
    
    
}

.content-txt .btn3:hover {
    background-color: #F9F6F2;
    padding: 8px 10px;
    color: black;
    margin-top: 30px;
    border-radius: 10px;
    border: var(--color1) solid;
    font-family: "Playfair Display", serif;
    font-weight: 500;
}








/* video container */
.video-main{
    background-color: whitesmoke;
    padding: 70px;
    padding-bottom: 70px;
}
    

.video-container {
    background-color: white;
    margin: auto;
    width: 60%;
    padding: 20PX;
    border-radius: 10px;
    box-shadow: 6px 6px 60px -6px rgba(159, 110, 165, 0.75);
    -webkit-box-shadow: 6px 6px 60px -6px rgba(159, 110, 165, 0.75);
    -moz-box-shadow: 6px 6px 60px -6px rgba(159, 110, 165, 0.75);
}
.video-container iframe{
width: 100%;
}


html.sr.visibility-hidden{
    visibility: hidden;
}





/* footer */
.text-reset:hover{
    background-color: var(--color1);
    padding: 8px 10px;
    color: white;
    border-radius: 10px;
    border: var(--color1);
    font-family: "Playfair Display", serif;
    text-decoration: none;
    transition: 0.5s;
    
}

.text-reset{
    background-color: #F9F6F2;
    padding: 8px 10px;
    color: black;
    margin-top: 30px;
    border-radius: 10px;
    border: white solid;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    text-decoration: none;
}



/* animation */


/* .home-content .content-image img:hover{
    transform: translateX(10px);
    transform: translateY(-10px);
} */

/* @keyframes updown{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
} */
