* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --body-color: #f4f5f7;
    --sidebar-color: #fafafa;
    --primary-color: #165bc5;
    --primary-color-light: #cbddff;
    --toggle-color: #f9e0b9;
    --toggle-color1: #f9e0b9;
    --text-color: #000000;
    --primary-color2: #052659;
    --card-color: #cbddff;
    --primary-color-light2: #93b7f9;
}

.main_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 30px;
    background-color: var(--body-color);
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-btn{
    align-self: flex-start;
    margin-left: 40px;
    margin-bottom: 20px;
    text-decoration: none;
}


.main {
    width: 40%;
    background: transparent;
    background: var(--sidebar-color);
    border: 2px solid rgba(255, 255, 255, 0.16);
    box-shadow: var(--primary-color2) 0px 14px 28px, var(--primary-color2) 0px 10px 10px;
    color: rgb(89, 89, 194);
    border-radius: 25px;
    padding: 20px 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    color: var(--primary-color2);
}

.main input {
    width: 90%;
    height: 35px;
    /* margin: 10px 0; */
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: rgb(82, 82, 148);
    margin-bottom: 15px;
    padding-inline: 10px;
    box-shadow: 0px 10px 15px -3px var(--primary-color-light2);    
}

.main input::placeholder{
    font-size: 15px;
}

.photo_main {
    width: 40%;
}

.photo {
    width: 80%;
    height: 100%;
    border-radius: 10px;
}

label {
    color: var(--primary-color2);
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* button {
   

} */
.zorar {
    width: 60%;
    height: 45px;
    padding-top: 3px;
    background-color:var(--primary-color2);
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    transition: all 0.5s;
    text-align: center;
}

.zorar:hover {
    font-size: 20px;
    font-weight: 620;
}

.icon i{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 46%;
    right: 13%;
}

.icon1 i{
    display: flex;
    justify-content: flex-end;
    position: absolute; 
    top: 56%;
    right: 13%;
}

@media(max-width:700px) {
    .main {
        width: 90%;
        padding: 10px 10px;
        margin-left: 0px;



    }
}